/* hotfix */

.prompt-v1-1-translation-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.prompt-v1-1-translation-content {
  font-size: var(--xlarge-font);
  font-weight: var(--large-fw);
  text-align: center;
  border-radius: 0.3rem;
  min-width: 2em;
  min-height: 1.5em;
  padding: 0em 0.2em;
}

.prompt-v1-1-prompt-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.prompt-v1-1-prompt-content {
  border-bottom: 2px solid var(--black);
  font-size: var(--xlarge-font);
  font-weight: var(--large-fw);
  text-align: center;
  min-width: 2em;
  min-height: 1.5em;
  padding: 0em 0.2em;
}
