/* hotfix */

.prompt-v4-translation-container {
  display: flex;
  flex-direction: row;
}

.prompt-v4-translation-content {
  font-size: var(--xlarge-font);
  font-weight: var(--large-fw);
  text-align: center;
}

.prompt-v4-prompt-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.prompt-v4-prompt-content-box {
  font-size: var(--xlarge-font);
  font-weight: var(--large-fw);
  text-align: center;
  display: flex;
}

.prompt-v4-prompt-content {
  display: flex;
  border-bottom: 3px solid white !important;
}

.prompt-v4-prompt-make-orange-dash {
  display: flex !important;
  border-bottom: 3px solid #ff8800 !important;
}
