* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
border: 1px solid red;
min-width: 100vw;
min-height: 100vh;

}



.list {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
}

.list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

}

.list ul li {
  list-style: none;
   text-align: center;
min-width: 100px ;
}

a {
  border-radius: 1em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 14px 25px;
  background-color: transparent;
  border: 2px solid rgb(12, 0, 66);
}

a:hover {
  background-color: rgb(12, 0, 66);
  color: rgb(255, 255, 255);
}
